<!-- This is where the React app gets rendered -->
<div id="react-root">
  <!-- currently just rendering H2 title -->
</div>

<div class="qualities">
  <div class="col-md-12">
    <div class="row">
      <%= @creative_qualities.find_each do |creative_quality| %>
        <div class="col-md-4">
          <div class="panel panel-<%= creative_quality.name %>">
            <div class="panel-heading">
              <%= creative_quality.name %>
            </div>

            <div class="panel-body">
              <div class="quality quality-<%= creative_quality.name %>"></div>

              <div class="score">
                <small>your score:</small>
                &mdash;
              </div>

              <p>
                <%= creative_quality.description %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
